@charset "UTF-8";
/* CSS Document */

/* ——————————————————————————————————————————————————
	MARK: - Global Style
 —————————————————————————————————————————————————— */

body {
	width: auto;
	max-width: 50em;
	margin: auto;
	padding: 1em 1em 10em 1em;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 1em !important;
}

h1 {
	margin: auto;
}

/* ——————————————————————————————————————————————————
	MARK: - Form
 —————————————————————————————————————————————————— */

fieldset {
	padding: 0;
}

fieldset.section {
	border: none;
}

fieldset.section div.instruction {
	margin-bottom: 2em;
}

fieldset[name="turkID"].section {
	font-weight: bold;
	line-height: 2em;
	margin: 1em 0em 1em 0em;
}

fieldset[name="turkID"].section input[type="text"] {
	width: 20em;
	height: 2em;
	font-size: 1em;
	display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 0.25em;
	border-color: darkgray;
}

fieldset.question h1 {
	margin-top: 1em;
}

/* ——————————————————————————————————————————————————
	MARK: - For each question
 —————————————————————————————————————————————————— */

fieldset.question {
	border-style: solid;
	border-width: thin;
	border-color: darkgray;
	border-radius: 0.5em;
	padding: 0 1em 1em 1em;
	margin: 1em 0em 1em 0em;
}

fieldset.question h1 {
	font-size: 1.1em;
	line-height: 1em;
	margin-bottom: 0.5em;
}

fieldset.question h2 {
	font-size: 1em;
}

fieldset.question p.did-not-respond {
	font-style: italic;
	color: darkgray;
}

fieldset.question div.turn {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-color: darkgray;
}

fieldset.question div.chat-entry {
	margin: 2em 0;
}

fieldset.question div.turn + div.chat-entry {
	margin-top: 0;
}

fieldset.question input[type="radio"] {
	margin-left: 5em;
	margin-right: 1em;
	display: inline-block;
	vertical-align: text-top !important;
}

fieldset.question input[type="radio"]:first-of-type {
	margin-left: 0em;
}

fieldset.question textarea {
	width: 100%;
	height: 8em;
	box-sizing: border-box;
	font-size: 1em;
}

/* ——————————————————————————————————————————————————
	MARK: - Buttons and Whistles
 —————————————————————————————————————————————————— */

form input[name="submit-survey"] {
	display: block;
	width: 10em;
	font-size: 1em;
	margin: 0 auto;
}

/* ——————————————————————————————————————————————————
	MARK: - Survey Submit
 —————————————————————————————————————————————————— */

div.validation-code {
	width: 25em;
	margin: auto;
	text-align: center;
	border-style: solid;
	border-width: thin;
	border-radius: 1em;
}










